SPEC HEADER
	ATTR NAMESPACE "http://gaius.isri.cmu.edu/example2.owl"
	ATTR DESC "This policy is written to test the use limitation principle"
	ATTR LIMIT-USE
	P treatment > diagnosis,prescription,bloodtests
	D patient-labs > bloodwork
	A medical-professional > phlebotomist,doctor,nurse
SPEC POLICY
	P COLLECT bloodwork FROM phlebotomist FOR treatment
	P COLLECT bloodwork FROM laboratory FOR treatment
	P USE bloodwork FROM phlebotomist FOR marketing
	P USE patient-labs FROM phlebotomist FOR anything
	P USE bloodwork FROM medical-professional FOR diagnosis
	R USE bloodwork FROM medical-professional FOR anything
