SPEC HEADER
	ATTR NAMESPACE "http://localhost:9001/agent1.owl"
	ATTR DESC "This policy describes a product retailer"
	P commonly-accepted-practices > product-and-service-fulfillment
	P commonly-accepted-practices > internal-operations
	P commonly-accepted-practices > fraud-prevention
	P commonly-accepted-practices > legal-compliance-and-public-purpose
	P commonly-accepted-practices > first-party-marketing
	P product-and-service-fulfillment > billing
	D purchase-order > billing-information
	D billing-information > billing-address
	
SPEC POLICY
	P COLLECT purchase-order FROM consumer FOR commonly-accepted-practices
	P COLLECT browsing-history FROM consumer FOR marketing
	P TRANSFER billing-information TO billing-service FOR billing
	P TRANSFER browsing-history TO anyone FOR marketing